html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #F39237;
    
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5 p{
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.main{
    background-image:linear-gradient(to bottom, #F39237, #ffb5748e), url(./img/img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.heading-title{
   
    text-align: center;
    padding-top: 9rem;
   
}
.heading-title h1{
    font-size: 3.5rem;
    color: #ffffff;
}
.main-btn-section{
    text-align: center;
    padding-top: 1rem;
}
.black-btn{
    width: fit-content;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.black-btn:hover{
    background-color: #F39237;
    color: #ffffff;
}
.white-btn{
    width: fit-content;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer; 
    background-color: #000;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.white-btn:hover{
    background-color: #F39237;
    color: #ffffff;
}
.rich-features{
    padding: 4rem 0;
    height: 100vh;
}
.rich{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    overflow: hidden;
}
.right-img{
 display: flex;
 width: 100%;
}
.right-img img{
    width: 250px;
}
.rich-left-section{
    width: 50%;
}
.rich-right-section{
    width: 50%;
}
.rrr{
    padding: 1rem 0;
    width: 200px;
    object-fit: cover;
}
.rich-heading{
    width: 100%;
    padding: 1rem 0;
    font-size: 1.4rem;
}
.rich-text{
    width: 100%;
}
.rich-btn{
    padding: 1rem 0;
}
.rich-btn button{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer; 
    background-color: #F39237;
    transition: all 0.3s ease-in-out;
    margin-bottom: .5rem;
}
.rich-btn button:hover{
   background-color: #ffffff;
   border: 1px solid #000;
}